* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h1 {
    text-align:center;
    font-size: 70px;
    color: white;
}

header {
    padding: 10px;
    background-color: rgb(17, 124, 143);

}

h1 {
    font-family: Bodoni MT;
}

h3 {
    font-family: Bodoni MT;
    text-align: center;
    font-size: 40px;
    color: white;
}

nav {
    background-color: #333;
    overflow: hidden;
	
    ;
}

video {
    position: relative;
}

h5 {
    position: absolute;
}

nav a {
    text-decoration: none;
    padding: 30px;
    text-align: center;
    float: left;
    color:white ;
	background-color: #333;
}

div {
    flex-direction: column;
}

main {
    background-color:DarkSeaGreen;
    text-align: center;
}
h2{
	background-color:LightYellow;
}
h2{
	font-size:180%
	
}
h2 {
 padding: 40px;
 border:5px solid #333 ;
 color:black;
 
}

section:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

section {
    min-height: 100vh;
	background-color:
}

video {
    padding: 10px;
}

iframe {
    height: 75vh;
}

img {
    padding: 5px;
}

section h5 {
    margin: 40px;
}

 div{
	color:white
    
}
footer {
    background-color: #333;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}